spring.application.name=api
server.port=7085

# Database configuration
spring.datasource.url=${DATABASE_URL:jdbc:postgresql://localhost:5432/orders}
spring.datasource.username=${DATABASE_USERNAME:admin}
spring.datasource.password=${DATABASE_PASSWORD:your_password}

# Flyway configuration
spring.flyway.enabled=true
spring.flyway.url=${DATABASE_URL:jdbc:postgresql://localhost:5432/orders}
spring.flyway.password=${DATABASE_PASSWORD:your_password}
spring.flyway.user=${DATABASE_USERNAME:admin}
spring.flyway.baselineOnMigrate=true

# JPA and logging
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.orm.jdbc.bind=TRACE